@import "reset.css";

@font-face {
    font-family: "Sprinklescolors";
    src: url("../images/Sprinklescolors.eot"); /* per IE */
    src: local("Sprinklescolors.ttf"), url("../images/Sprinklescolors.ttf") format('truetype');
}

a:link, a:hover, a:active, a:visited, a:focus {
    color: #000000;
    text-decoration: none;
}

body {
    background-image: url("../images/wallpaper.png");
    background-position: 0% 0%;
    background-origin: border-box;
    background-attachment: fixed;
    background-size: cover;
    background-clip: border-box;
    background-repeat: no-repeat;
}

h1, h2, h3, h4 {
    font-family: "Sprinklescolors";
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 20px;
}

td{
    padding: 5px;
}

button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
    background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
    background-color:#f9f9f9;
    -webkit-border-top-left-radius:20px;
    -moz-border-radius-topleft:20px;
    border-top-left-radius:20px;
    -webkit-border-top-right-radius:20px;
    -moz-border-radius-topright:20px;
    border-top-right-radius:20px;
    -webkit-border-bottom-right-radius:20px;
    -moz-border-radius-bottomright:20px;
    border-bottom-right-radius:20px;
    -webkit-border-bottom-left-radius:20px;
    -moz-border-radius-bottomleft:20px;
    border-bottom-left-radius:20px;
    text-indent:0;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#666666;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:30px;
    line-height:30px;
    width:131px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #ffffff;
}
button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
    background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
    background-color:#e9e9e9;
}
button:active {
	position:relative;
	top:1px;
}

.cleaner{
    clear: both;
}

/*#container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #FFFFFF;
    box-shadow: 0.15em 0.15em 0.20em #000000;
    border-radius: 2em 8em 2em 2em;
    font-family: sans-serif;
}

#content {
    font-family: sans-serif;
}*/

header, footer{
    clear: both;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    background-color: #FFFFFF;
}
header{
    border-radius: 2em 8em 0.5em 0.5em;
}

footer{
    border-radius: 0.5em 0.5em 2em 2em;
}