#menu_personale {
    width: content-box;
    float: right;
    margin: 10px;
    padding: 5px;
    background-color: #31C3CF;
    border-radius: 3em 2em 2em 3em;
    box-shadow: -0.15em 0.15em 0.20em #000000;
}

#menu_personale > p {
    padding: 15px 30px 15px 30px;
    font-weight: bold;
}

#menu_personale > ul {
    list-style: none;
}

#menu_personale > ul > li {
    padding: 15px 30px 15px 30px;
    font-weight: bold;
    border-radius: 3em 2em 2em 3em;
}

#menu_personale > ul > li:hover, #menu_personale > ul > li:focus, #menu_personale > ul > li:active {
    background-color: dodgerblue;
    box-shadow: 0.05em 0.05em 0.05em #000000;
}

#menu_personale > ul > li > a:hover, #menu_personale > ul > li > a:focus, #menu_personale > ul > li >  a:active {
    color: #FFFFFF;
    text-shadow: 0.05em 0.05em 0.05em #000000;
}

#context {
    float:left;
}

