header h1 {
    font-size: 70px;
    line-height: 140px;
    text-shadow: 0.05em 0.05em 0.05em #000000;
}

header img {
    float: left;
    clear: none;
    margin: 20px;
}

header p {
    float:right;
    color: #A8A8A8;
    font-size: 12px;
    line-height: 15px;
}

header a {
    color: #A8A8A8;
}

#menu {
    font-family: sans-serif;
    float: right;
    width: 80%;
    text-align: center;
    border-radius: 2em 2em 3em 3em;
    background-color: #31C3CF;
    box-shadow: 0.15em 0.15em 0.20em #000000;
}

#menu > ul > li {
    display: inline-block;
    padding: 15px 30px 15px 30px;
    font-weight: bold;
    border-radius: 2em 2em 3em 3em;
}

#menu > ul > li:hover, #menu > ul > li:focus, #menu > ul > li:active {
    background-color: dodgerblue;
    box-shadow: 0.05em 0.05em 0.05em #000000;
}

#menu > ul > li > a:hover, #menu > ul > li > a:focus, #menu > ul > li >  a:active {
    color: #FFFFFF;
    text-shadow: 0.05em 0.05em 0.05em #000000;
}